<div class="horizontal layout center-justified card-container">
  <div class="vertical layout center-justified">

      <paper-card elevation="5" heading="Dashboard Login">
      
        <paper-tabs selected="0" scrollable>
  <paper-tab>Login</paper-tab>
  <paper-tab>Register</paper-tab>
</paper-tabs>
        <div class="card-content">
          <paper-input label="Email"></paper-input>
          <paper-input type="password" label="Password"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised class="custom indigo">Login</paper-button>
          <paper-button raised class="custom indigo">Register</paper-button>
        </div>
      </paper-card>
 
  </div>
</div>
