
#profileThumb{
   background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
     width: 180px;
     height: 280px;
}

#profileBig{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
     width: 480px;
     height: 680px;

}#accountDetails{
  min-height: 400px;
  min-width: 500px;
}

#accountDetails .buttons{
  position: absolute;
  bottom: 0px;
  right:0px
}