
<div class="horizontal layout center-justified card-container">

  <div class="vertical layout center-justified">
      <div style="position:absolute;top:125px; left: 50%; transform: translateX(-50%);"class="paper-font-display4">BankOf</div>
    <paper-material elevation="3">
      <paper-tabs selected="0" scrollable>
        <paper-tab>LOGIN</paper-tab>
        <paper-tab>REGISTER</paper-tab>
      </paper-tabs>
    <paper-card fitContainer="true" elevation="0" heading="Dashboard Login">


      <div class="card-content">
        <paper-input label="Email"></paper-input>
        <paper-input type="password" label="Password"></paper-input>
      </div>
      <div class="card-actions">
        <paper-button raised class="custom indigo">Login</paper-button>
        <paper-button raised class="custom indigo">Register</paper-button>
      </div>
    </paper-card>
</paper-material>
  </div>
</div>


