<account-list [items]="items" (refresh)="refreshAccount($event)" (openDetails)="openDetailsDialog($event)"></account-list>

<paper-dialog *ngIf="openAccount" id="accountDetails" modal [(opened)]="openDialogTrigger">
  <paper-input [value]="openAccount.number" disabled label="Account Number"></paper-input>
  <paper-input [value]="openAccount.balance" disabled label="Balance"></paper-input>
  <paper-input [value]="openAccount.currency" disabled label="Currency"></paper-input>
  <paper-input [value]="openAccount.status" disabled label="Status"></paper-input>
  <paper-input [value]="openAccount.type" disabled label="Type"></paper-input>
  <div  class="paper-font-headline">Stats for last months</div>
    <div class="paper-font-headline">{{sliderValue}} months: <paper-slider [(value)]="sliderValue" (change)="recalculateIncome()" pin snaps max="5"  max-markers="5" step="1"></paper-slider></div>

  <div *ngIf="balanceModel" class="paper-font-headline">Income: {{balanceModel.income}}</div>
  <div *ngIf="balanceModel" class="paper-font-headline">Outcome: {{balanceModel.outcome}}</div>


  <div class="buttons">
    <paper-button class="custom indigo" dialog-confirm autofocus raised>Close</paper-button>
  </div>
</paper-dialog>