<app-drawer opened persistent="true">
  <div role="listbox">
    <paper-icon-item (click)="showAccounts()">
      <iron-icon icon="account-balance" item-icon></iron-icon>
      Accounts
    </paper-icon-item>
    <paper-icon-item (click)="showCards()">
      <iron-icon icon="payment" item-icon></iron-icon>
      Cards
    </paper-icon-item>

  </div>
</app-drawer>
<account-list *ngIf="showAc" [items]="items" (refresh)="refreshAccount($event)" (settingsAccount)="settingsAccount($event)"
  (openDetails)="openDetailsDialog($event)"></account-list>
<card-list *ngIf="showCa" [items]="cardItems"></card-list>
<paper-dialog *ngIf="openAccount" id="accountDetails" modal [(opened)]="openDialogTrigger">
  <paper-input [value]="openAccount.number" disabled label="Account Number"></paper-input>
  <paper-input [value]="openAccount.balance" disabled label="Balance"></paper-input>
  <paper-input [value]="openAccount.currency" disabled label="Currency"></paper-input>
  <paper-input [value]="openAccount.status" disabled label="Status"></paper-input>
  <paper-input [value]="openAccount.type" disabled label="Type"></paper-input>
  <div class="paper-font-headline">Stats for last months:</div>
  <div class="paper-font-headline">{{sliderValue}} months:
    <paper-slider [(value)]="sliderValue" (change)="recalculateIncome()" pin snaps max="5" max-markers="5"
      step="1"></paper-slider>
  </div>

  <div *ngIf="balanceModel" class="paper-font-headline">Income: {{balanceModel.income ? balanceModel.income: 0}} {{openAccount.currency}}</div>
  <div *ngIf="balanceModel" class="paper-font-headline">Outcome: {{balanceModel.outcome ? balanceModel.outcome: 0}} {{openAccount.currency}}</div>


  <div class="buttons">
    <paper-button id="acClose2" class="custom indigo" dialog-confirm autofocus raised>Close</paper-button>
     <paper-tooltip for="acClose2" position="top">Close dialog</paper-tooltip>
  </div>
</paper-dialog>

<paper-dialog *ngIf="selectedAccToSave" id="accountSettingsDetails" modal [(opened)]="openSettingsDialogTrigger">
 <div class="horizontal layout">
       <p style="width:250px;padding-top:25px;">Limit Amount: </p>
  <paper-input label="Limit" [(value)]="selectedAccToSave.limit"></paper-input>
        </div>
 <div class="horizontal layout">
    <p style="width:250px;padding-top:15px;">Sms Alert: </p>
  <paper-toggle-button checked [(active)]="selectedAccToSave.smsAlert"></paper-toggle-button>
        </div>


  <div class="buttons">
    <paper-button id="acClose" class="custom indigo" dialog-confirm autofocus raised>Close</paper-button>
    <paper-button id="acSave" class="custom indigo" dialog-confirm autofocus raised (click)=saveAccount($event)>Save changes</paper-button>
        <paper-tooltip for="acClose" position="top">Close dialog</paper-tooltip>
    <paper-tooltip for="acSave" position="top">Save current changes</paper-tooltip>
  </div>
</paper-dialog>



