<div class="horizontal layout center-justified" style="padding-top:20px">
  <paper-input style="width:200px" [(value)]="cnpToSearch" label="CNP to search"></paper-input>
  <paper-button class="custom indigo"  style="height:40px;margin-top:10px" raised (click)="search()">Search</paper-button>
</div>

<paper-dialog *ngIf="obj" id="dialogUserDetails" modal [(opened)]="dialogUserDetailsTrigger">
<div class="vertical layout center-justified" style="padding-left: 30%;">
    <div class="horizontal layout">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">Firstname: </div>
      <paper-input [(value)]="obj.firstName" ></paper-input>
    </div>
    <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">Lastname: </div>
      <paper-input [(value)]="obj.lastName"></paper-input>
    </div>
    <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">Phone: </div>
      <paper-input [(value)]="obj.phone"></paper-input>
    </div>
    <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">Address: </div>
      <paper-input [(value)]="obj.address"></paper-input>
    </div>
    <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">CNP: </div>
      <paper-input [(value)]="obj.cnp" disabled ></paper-input>
    </div>
    <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">Email: </div>
      <paper-input [(value)]="obj.email" >
        <iron-icon icon="mail" prefix></iron-icon>
      </paper-input>
    </div>
        <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">Country: </div>
      <custom-dropdown [items]="countryItems" [(selected)]="obj.country"  (selectedItem)="setCountry($event)"></custom-dropdown> 
    </div>
    <div class="horizontal layout" style="margin-top: 20px">
      <div class="paper-font-headline" style="min-width: 130px;padding-top:25px">City: </div>
          <custom-dropdown [items]="cityItems" [(selected)]="obj.city" (selectedItem)="setCity($event)"></custom-dropdown> 
    </div>


    <div class="horizontal layout" style="margin-top: 20px">
      <paper-button class="custom indigo" raised (click)="saveChanges()">Save changes</paper-button>
      <paper-button class="custom indigo" raised (click)="resetPassword()">Reset password</paper-button>
         <paper-button class="custom indigo" dialog-confirm autofocus raised>Close</paper-button>
    </div>
  </div>


</paper-dialog>