  html, body {
        height: 100%;
        margin: 0;
  }
  paper-scroll-header-panel {
        height: 100%;
  } 
  app-header {
        position: fixed;
        height: 170px;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        background-image: url(assets/images/logoBanner.png);
        background-repeat:no-repeat;
      }

       .noImage {
     background-repeat:no-repeat;
        background-image: url(assets/images/default.jpg);

      }
.primaryPageContent{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 190px;
    overflow: auto;
}
#menuIcon{
           position: fixed;
     top:20px;
     right:20px;
}
#profileIcon{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
     width: 80px;
     height: 80px;
     border-radius: 50%;
}

paper-item{
              font-family: 'Signika', sans-serif;
        font-weight: 300;
        color: #545454;
        font-size: 16px;
}

