<link rel="import" href="app/primary-page/primary-page.style.custom.html">
<div>
<app-header effects="waterfall resize-title blend-background parallax-background" condenses reveals>
  <app-toolbar class="right">

  </app-toolbar>
    
<paper-menu-button id="menuIcon">
  <paper-icon-button  *ngIf="customer" class="dropdown-trigger" id="profileIcon" [style.background-image]="'url(http://localhost:8080/img/' + profileImage + ')'"></paper-icon-button>
    <paper-icon-button  *ngIf="!customer" class="dropdown-trigger" id="profileIcon" [style.background-image]="'url(assets/images/default.jpg)'"></paper-icon-button>
  <paper-menu class="dropdown-content">
     <paper-item  *ngIf="customer" [routerLink]="['/primaryPage/profile']">View Profile</paper-item>
    <paper-item  [routerLink]="['/user/login']" (click)=logout()>Log out</paper-item>

  </paper-menu>
</paper-menu-button>
  <app-toolbar class="middle"> </app-toolbar>
  <paper-tabs *ngIf="customer">
    <paper-tab [routerLink]="['/primaryPage/account']">Accounts</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/pay']">Pay and Transfer</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/transaction']">Transactions</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/contact']">Contact</paper-tab>
  </paper-tabs>
  <paper-tabs *ngIf="!customer">
    <paper-tab [routerLink]="['/primaryPage/adminUser']">User Admin</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/adminAccount']">Account Admin</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/adminTransaction']">Transaction Admin</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/adminInbox']">Inbox</paper-tab>
  </paper-tabs>
</app-header>

<div class="primaryPageContent">  <router-outlet></router-outlet></div>

</div>
<paper-fab icon="star"></paper-fab>
<sample-content size="100"></sample-content>

<paper-toast class="greenToast" duration="3000" id="toast1" [(opened)]="open" [text]="textToast"></paper-toast>
<paper-toast class="redToast" duration="3000" id="toast1" [(opened)]="openE" [text]="textToastE"></paper-toast>