<link rel="import" href="app/primary-page/primary-page.style.custom.html">
<div>
<app-header effects="waterfall resize-title blend-background parallax-background" condenses reveals>
  <app-toolbar class="right">

  </app-toolbar>
    <paper-icon-button [routerLink]="['/primaryPage/profile']" id="profileIcon"></paper-icon-button>
  <app-toolbar class="middle"> </app-toolbar>
  <paper-tabs >
    <paper-tab [routerLink]="['/primaryPage/account']">Accounts</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/pay']">Pay and Transfer</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/transaction']">Transactions</paper-tab>
    <paper-tab [routerLink]="['/primaryPage/contact']">Contact</paper-tab>
  </paper-tabs>

</app-header>

<div class="primaryPageContent">  <router-outlet></router-outlet></div>

</div>
<paper-fab icon="star"></paper-fab>
<sample-content size="100"></sample-content>